{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}

{% block body %}
  <main class="container-md">

    <section>

      {% for post in owner.posts %}

        <article class="row">

          <img
            src="{{ asset('images/posts/' ~ post.fileName) }}"
            class="img-fluid p-0 m-0 rounded-3 col-2"
          >
          <div class="row col-8">

            <form
              method="post"
              action="{{ path('app_post_delete', {'id': post.id}) }}"
              onsubmit="return confirm('Are you sure you want to delete this item?');"
              class="col-4"
            >
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
              <button class="btn btn-danger">
                {{ deleteBtn|raw }}
              </button>
            </form>

            <a
              href=""
              class="col-4 btn btn-outline-primary"
            >
              {{ editBtn|raw }}
            </a>

            {{ form_widget(form, {'id': post.id}) }}

          </div>
        </article>

      {% else %}
        <h4>Pas encore de posts</h4>
      {% endfor %}
    </section>
  </main>
{% endblock %}
