{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}

{% block body %}

    <main class="container-fluid mt-4">
        <div class="row">

            <section class="col-lg-3 col-md-5">
                {{ include('shared/assets/mtb_logo.html.twig') }}
                {{ component('ListComponent') }}
            </section>

            {#        END LEFT BAR ------------------------------------- -#}
            {#        CENTER BAR --------------------------------------- -#}

            <section class="col-lg-6 col-md-7">

                <h1>Page de {{ owner.username |title }}</h1>

                {% for post in owner.posts %}

                    {{ component('EditPostComponent', {post: post}) }}

                {% endfor %}
            </section>

            {#        END CENTER BAR ------------------------------------- -#}
            {#        RIGHT BAR ------------------------------------------ -#}

            <section class="col-3">

                {% if app.user == owner %}

                    {#                    {{ include('page/_right.html.twig') }} #}

                {% endif %}

            </section>
        </div>

    </main>
{% endblock %}
