{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}

{% block body %}

    <main class="container-fluid mt-4">
        <div class="row">


            {#        LEFT BAR ----------------------------------------- -#}
            <section class="col-lg-3 col-md-5">
                {{ include('shared/assets/mtb_logo.html.twig') }}
                {{ component('ListComponent') }}
            </section>

            {#        END LEFT BAR ------------------------------------- -#}
            {#        CENTER BAR --------------------------------------- -#}

            <section class="col-lg-6 col-md-7" {{ stimulus_controller('postsearch') }}>

                <h1>Page de {{ owner.username |title }}</h1>
                {# todo: show upload progress bar #}
                {% if app.user == owner %}

                    {% if posts|length > 0 %}
                        {{ include('shared/buttons/_button.html.twig', {
                            route: path('app_user_page_edit', {'username': owner.username}),
                            icon: 'pencil',
                            color: 'outline-warning'
                        }) }}
                    {% endif %}

                    {% if owner.posts.count > 0 %}
                        {{ include('shared/buttons/_deleteButton.html.twig',{
                            route: path('app_post_delete_all'),
                            token: csrf_token('deleteAllPosts'),
                            btnClass: 'btn-sm rounded-pill',
                            label: 'Tout supprimer'
                        }) }}
                    {% endif %}


                {% endif %}

                {{ component('PostSearchByQuery', {orderBy: 'date', ascDesc: 'DESC', owner: owner}) }}

            </section>
            <section class="col-3 d-none d-lg-block">

                {% if not app.user %}
                    {{ include('auth/_component.html.twig') }}
                {% else %}
                    <a href="{{ path('app_user_page', {'username': app.user.username}) }}">{{ app.user.username|title }}</a>
                    -
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                {% endif %}

                {% if app.user == owner %}

                    {#                    {{ component('UploadPostsComponent', {owner: owner}) }} #}
                    {{ include('post/_newPost.html.twig', { form: form }) }}
                    {% if promptlessPosts %}
                        {% for post in promptlessPosts %}
                            {{ component('ResolvePromptlessPostsComponent', {post: post}) }}
                        {% endfor %}
                    {% endif %}

                {% endif %}

            </section>
        </div>
    </main>
{% endblock %}
