{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}

{% block body %}
    <main class="container-md">

        <h1>Page de {{ owner.username |title }}</h1>

        {% if app.user == owner %}
            {{ include('shared/modal/_crud-modal.html.twig', {
                modalID: 'post-upload',
                title: 'Ajouter un post',
                buttonLabel: 'Ajouter un post',
                form: postForm
            }) }}
        {% else %}
          <a href="{{ path('app_login') }}" class="btn btn-primary">Ajouter un post</a>
        {% endif %}

      <section class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 ">
        {% for post in owner.posts %}

          <img
                  src="{{ asset('images/posts/' ~ post.fileName) }}"
                  class="img-fluid p-0 m-0"
                >
    {#             alt="Gif de {{ owner.username }} numéro {{ post.prompt.dayNumber }}">#}

        {% endfor %}
      </section>

    </main>
{% endblock %}
