{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}

{% block body %}

    <nav class="d-lg-none d-block fixed-top navbar">
        <button class="btn btn-primary"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offCanvasOwnerEdit"
                aria-controls="offCanvasOwnerEdit">
            <i class="bi bi-menu-button"></i>
        </button>
    </nav>

    <main class="container-fluid mt-4" {{ stimulus_controller('post') }}>
        <div class="row">

            <section class="col-lg-3 col-md-5">
                {{ include('shared/assets/mtb_logo.html.twig') }}
                {{ component('ListComponent') }}
            </section>

            {#        END LEFT BAR ------------------------------------- -#}
            {#        CENTER BAR --------------------------------------- -#}

            <section class="col-lg-6 col-md-7" {{ stimulus_controller('postsearch') }}>

                <h1>Page de {{ owner.username |title }}</h1>

                {{ component('PostSearchByQuery', {orderBy: 'date', ascDesc: 'DESC', owner: owner}) }}

            </section>

            {#        END CENTER BAR ------------------------------------- -#}
            {#        RIGHT BAR --------------------------------------- -#}

            <section class="col-3">

                {% if not app.user %}
                    {{ include('auth/_component.html.twig') }}
                {% elseif app.user == owner %}

                    {{ include('page/_right.html.twig') }}

                {% endif %}

            </section>
        </div>
    </main>
{% endblock %}
