{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}

{% block body %}

    <main class="container-md">

        <h1>Page de {{ owner.username |title }}</h1>
        {# todo: show upload progress bar #}
        {% if app.user == owner %}
            {{ include('shared/modal/_crud-modal.html.twig', {
                modalID: 'post-upload',
                title: 'Ajouter un post',
                buttonLabel: 'add',
                form: newPostForm
            }) }}

            {% if posts|length > 0 %}
                {{ include('shared/buttons/_editButton.html.twig', {
                    route: 'app_user_editpage',
                    optionValue: owner.username
                }) }}
            {% endif %}

        {% endif %}


        {% for promptList in promptLists %}

            <section class="my-3">

                <h2>{{ promptList.year }}</h2>
                <div {{ stimulus_controller('modal-window') }}
                        class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 ">

                    {% for post in posts %}

                        {% if post['promptListYear'] == promptList.year %}

                            <article
                                    class="card p-0 m-0"
                                    {{ stimulus_target('modal-window', 'listItem') }}
                                    id="{{ post['id'] }}"
                            >
                                <div class="card-header d-flex justify-content-between">
                                    <div class="card-title">
                                        {{ post['promptListYear'] }} -- {{ post['dayNumber'] }}
                                        - {{ post['promptNameFr']|title }}
                                    </div>

                                    {% if app.user == owner %}
                                        <div class="card-group d-flex justify-content-center">
                                            {{ include('shared/buttons/_deleteButton.html.twig', {route: 'app_post_delete', itemId: post['id']}) }}
                                        </div>
                                    {% endif %}

                                </div>
                                <div
                                        class="p-0 m-0 card-body gallery-card rounded-3"
                                >
                                    {# <img
                                            src="{{ asset('images/posts/' ~ post['fileName']) }}"
                                            class="post-img img-fluid p-2 m-0"
                                            id="post-img-{{ post['id'] }}"
                                            alt="Image animé de {{ post['owner']|title }} pour le thème {{ post['promptNameFr']|title }}"
                                    > #}
                                </div>
                            </article>

                        {% endif %}

                    {% else %}
                        <h4>Pas encore de posts</h4>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}


    </main>
{% endblock %}
