{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}

{# TODO: work on upload and post requests max sizes #}

{% block body %}

    <main class="container-md">

        <h1>Page de {{ owner.username |title }}</h1>

        {% if app.user == owner %}
            {{ include('shared/modal/_crud-modal.html.twig', {
                modalID: 'post-upload',
                title: 'Ajouter un post',
                buttonLabel: 'add',
                form: newPostForm
            }) }}

            {% if owner.posts|length > 0 %}
                {{ include('shared/buttons/_editButton.html.twig', {
                    route: 'app_user_editpage',
                    optionValue: owner.username
                }) }}
            {% endif %}


        {% endif %}

        <section {{ stimulus_controller('modal-window') }}
                class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 ">

            {% for post in owner.posts %}

                <article
                        class="card p-0 m-0"
                        {{ stimulus_target('modal-window', 'listItem') }}
                        id="{{ post.id }}"
                >
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-title">
                            Octobre {{ post.prompt.promptList[0].year }} -- {{ post.prompt.dayNumber }}
                            - {{ post.prompt.nameFr }}
                        </div>
                        {% if app.user == owner %}
                            <div class="card-group d-flex justify-content-center">
                                {{ include('shared/buttons/_deleteButton.html.twig', {route: 'app_post_delete', itemId: post.id}) }}


                            </div>
                        {% endif %}

                    </div>
                    <div
                            data-bs-toggle="modal"
                            data-bs-target="#postModal"
                            class="p-0 m-0 card-body gallery-card rounded-3"
                            type="button"
                    >
                        <img
                                src="{{ asset('images/posts/' ~ post.fileName) }}"
                                class="post-img img-fluid p-2 m-0"
                                id="post-img-{{ post.id }}"
                                alt="Image animé de {{ owner.username }} pour le thème {{ post.prompt.nameFr }}"
                        >
                    </div>
                </article>

            {% else %}
                <h4>Pas encore de posts</h4>
            {% endfor %}
        </section>

    </main>
{% endblock %}
