{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}

{% block body %}

    <main class="container-md">

        <h1>Page de {{ owner.username |title }}</h1>
        {# todo: show upload progress bar #}
        {% if app.user == owner %}

            {{ form_start(newPostForm) }}
            {{ form_widget(newPostForm) }}
            {{ form_end(newPostForm) }}

            {% if posts|length > 0 %}
                {{ include('shared/buttons/_editButton.html.twig', {
                    route: 'app_user_page_edit',
                    optionValue: owner.username
                }) }}
            {% endif %}

            {% if addPromptToPostFormViews %}

                {{ include('shared/modal/_addPromptToPosts-modal.html.twig', {
                    modalID: 'addPromptToPost',
                    title: 'Ajouter des thèmes aux posts',
                    forms: addPromptToPostFormViews
                }) }}

            {% endif %}

        {% endif %}

        {% for promptList in promptLists %}

            <section class="my-3">
                <h2>{{ promptList.year }}</h2>
                <div
                        class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 ">

                    {% for post in posts %}

                        {% if post['promptListYear'] == promptList.year %}

                            <article class="p-0 m-0" id="{{ post['id'] }}">

                                {% if app.user == owner %}
                                    <div class="d-flex justify-content-center">
                                        {{ include('shared/buttons/_deleteButton.html.twig', {route: 'app_post_delete', itemId: post['id']}) }}
                                    </div>
                                {% endif %}

                                <div class="p-0 m-0 rounded-3">
                                    {{ include('shared/post/_thumbnail.html.twig', {rich: false}) }}
                                </div>
                            </article>

                        {% endif %}

                    {% else %}
                        <h4>Pas encore de posts</h4>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}


    </main>
{% endblock %}
