{% extends 'base.html.twig' %}

{% block title %}Page de {{ owner.username |title }}{% endblock %}


{% block body %}

  <main class="container-md">

    <h1>Page de {{ owner.username |title }}</h1>

    {% if app.user == owner %}
      {{ include('shared/modal/_crud-modal.html.twig', {
        modalID: 'post-upload',
        title: 'Ajouter un post',
        buttonLabel: 'Ajouter un post',
        form: postForm
      }) }}

    {% else %}
      <a href="{{ path('app_login') }}" class="btn btn-primary">Ajouter un post</a>
    {% endif %}

    <section {{ stimulus_controller('modal-window') }}
      class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 ">

      {{ include('shared/modal/_modal-post.html.twig', {
        modalID: 'postModal'
      }) }}

      {% for post in owner.posts %}

        <div
          data-bs-toggle="modal"
          data-bs-target="#postModal"
          class="p-0 m-1"
          type="button"
        >
          <img
            {{ stimulus_action('modal-window', 'showPost', 'click') }}
            {{ stimulus_target('modal-window', 'thumbnail') }}
            data-modal-window-postfilename-param="{{ asset('images/posts/' ~ post.fileName) }}"
            src="{{ asset('images/posts/' ~ post.fileName) }}"
            class="img-fluid p-0 m-0 rounded-3"
          >
        </div>

      {% else %}
        <h4>Pas encore de posts</h4>
      {% endfor %}
    </section>

  </main>
{% endblock %}
