{% if app.user and app.user != userToFollow %}

  <div {{ stimulus_controller('follow') }}>

    {% if userIfFollowing == 1 %}
      <button
        type="submit"
        class="btn btn-warning" {{ stimulus_action('follow', 'unFollowUser') }} {{ stimulus_target('follow', 'button') }}>
        <i class="bi bi-person" {{ stimulus_target('follow', 'buttonIcon') }}></i>
      </button>
    {% else %}
      {{ form_start(followForm) }}

      {{ form_row(followForm.follower, {
        'attr': {
          'value': app.user.id
        }
      }) }}
      {{ form_row(followForm.followed, {
        'attr': {
          'value': userToFollow.id
        }
      }) }}
      {{ form_row(followForm.submit, {'label': 'follow'}) }}

      {#        <i class="bi bi-person-plus"></i> #}

      {{ form_end(followForm) }}
    {% endif %}
  </div>
{% endif %}