<table class="table table-responsive">
    <thead>
    <tr>
        {% if app.current_route_parameters['entity'] == 'posts' %}
            <th>
                Gif
            </th>
        {% endif %}
        {% for key, fieldInput in forms[0].children %}
            {% if fieldInput.vars.name is not same as '_token' %}
                <th>
                    {{ fieldInput.vars.name|title }}
                </th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for form in forms %}
        {{ form_start(form) }}

        <tr>
            {% if app.current_route_parameters['entity'] == 'posts' %}
                <td>
                    <img class="admin-post-thumbnail"
                         src="{{ asset('/images/posts/' ~ form.vars.data.fileName) }}"
                         alt="admin post crud">
                </td>
            {% endif %}

            {% for key, fieldInput in form.children %}
                <td>
                    {% if fieldInput.vars.name is not same as '_token' %}
                        <div>
                            {{ form_row(fieldInput) }}
                        </div>
                    {% endif %}
                </td>
            {% endfor %}

            {{ form_end(form) }}
        </tr>
    {% endfor %}
    </tbody>

</table>

