{% if route is defined %}
    <form
            method="post"
            action="{{ route }}"
            onsubmit="return confirm('Sur de chez sur ?');"
    >
        <input type="hidden" name="_token" value="{{ token }}">
        <button class="btn btn-danger {{ class|default('') }}"
                data-post-token-param="{{ token }}"
                data-post-id-param="{{ id|default('') }}"
                data-post-username-param="{{ username|default(false) }}"
                {{ stimulus_action(controller|default(false), action|default(false)) }}
        >
            {{ label|default('') }}
            <i class="bi bi-{{ icon|default('trash') }}"></i>
        </button>
    </form>

{% else %}

    <button class="btn btn-danger {{ class|default('') }} text-nowrap"
            data-post-token-param="{{ token }}"
            data-post-id-param="{{ id|default('') }}"
            data-post-username-param="{{ username|default(false) }}"
            {{ stimulus_action(controller|default(false), action|default(false)) }}
    >
        {{ label|default('') }}
        <i class="bi bi-{{ icon|default('trash') }}"></i>
    </button>

{% endif %}