<form
        method="post"
        action="{{ route }}"
        onsubmit="return confirm('Sur de chez sur ?');"
>
    <input type="hidden" name="_token" value="{{ token }}">
    <button class="btn btn-danger {{ btnClass|default('') }}">
        {{ label|default('') }}
        <i class="bi bi-{{ icon|default('trash') }}"></i>
    </button>
</form>