{% if app.user and app.user != owner %}
  <div {{ stimulus_controller('follow') }}>

    <button
      class="btn btn-warning" {{ stimulus_action('follow', 'followUser') }} {{ stimulus_target('follow', 'button') }}>
      <i class="bi bi-person-plus" {{ stimulus_target('follow', 'buttonIcon') }}></i>
    </button>

    <input type="number" value="{{ app.user.id }}" hidden {{ stimulus_target('follow', 'follower') }}>
    <input type="number" value="{{ owner.id }}" hidden {{ stimulus_target('follow', 'followed') }}>
    <input type="checkbox" value="{{ does follow }}" hidden {{ stimulus_target('follow', 'following') }}>
  </div>
{% endif %}