<table>
    <thead>
    <tr>
        {% for key, embeddedForm in row.children %}
            {{ dump('hello', embeddedForm) }}
            <td>{{ embeddedForm.vars.label }}</td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for key, embeddedForm in row %}

        {# todo: fix this. embeddedRow #}

        <tr>
            {% for embeddedRow in embeddedForm.children %}
                <td>
                    {{ form_row(embeddedRow, {
                        label: false,
                        row_attr: {class: ''},
                    }) }}
                </td>
            {% endfor %}
            <td>
                {{ form_row(embeddedForm.vars.button_delete, {label: 'X', attr: {class: 'btn btn-outline-danger'}}) }}
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{{ form_widget(row.vars.button_add, {label: '+ Ajouter un thème', attr: {class: 'btn btn-outline-primary'}}) }}
