{% extends 'base.html.twig' %}

{% block title %}Prompt index{% endblock %}

{% block body %}

  <main class="container">

    <h1>Tous les thèmes</h1>

    <a href="{{ path('app_prompt_new') }}">Create new</a>

    {% for prompt in prompts %}

      <turbo-frame id="prompt-edit">
          <a href="{{ path('app_prompt_edit', {'id': prompt.id}) }}">
              <div class="d-flex justify-content-between align-items-center">
                  <span>{{ prompt.dayNumber }}</span>
                  <span>{{ prompt.nameFr }}</span>
                  <span>{{ prompt.nameEn }}</span>
                  <span>
                    {% for x in prompt.promptList %}
                      {{ x.year }}{% if prompt.promptList|length > 1 %},{% endif %}
                    {% endfor %}
                  </span>
              </div>
          </a>
      </turbo-frame>

    {% endfor %}

  </main>

    <table class="table">
        <thead>
            <tr>
                <th>Jour</th>
                <th>Français</th>
                <th>English</th>
                <th>Année</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prompt in prompts %}

          <tr>
                      <td>{{ prompt.nameFr |title}}</td>
                      <td>{{ prompt.nameEn |title}}</td>
                        <td>
                            {% for x in prompt.promptList %}
                                {{ x.year }}{% if prompt.promptList|length > 1 %},{% endif %}
                            {% endfor %}
                        </td>

                    </tr>
            <td>
                <a href="{{ path('app_prompt_show', {'id': prompt.id}) }}">show</a>
                <a href="{{ path('app_prompt_edit', {'id': prompt.id}) }}">edit</a>
            </td>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
