<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}Motiontober Admin Dashboard{% endblock %}</title>
    <link rel="icon"
          href="{{ asset('build/images/Logo_MTB.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

<div {{ stimulus_controller('flash') }}>
    {% for type, messages in app.flashes %}
        {% for message in messages %}

            <div
                    class="toastifyFlash"
                    data-type="{{ type }}"
                    data-message="{{ message }}"
                    hidden
            >{{ message }}</div>

        {% endfor %}
    {% endfor %}
</div>

<div class="container-fluid mt-4 row">

    <nav class="col-2">
        {% block sidebar %}{% endblock %}
    </nav>
    <main class="col-10">
        {% block body %}{% endblock %}
    </main>

</div>

</body>
</html>
