{% extends 'modal-window-base.html.twig' %}

{% block modalID %}{{ modalID }}{% endblock %}

{% block modalTitle %}
  <div {{ stimulus_target('modal-window', 'outputTitle') }}></div>
{% endblock %}

{% block modalBody %}
  <div class="d-flex justify-content-center align-items-center">

    <button
      {{ stimulus_action('modal-window', 'previous') }}
      {{ stimulus_target('modal-window', 'previousButton') }}
      class="btn">
      <i class="bi bi-caret-left-fill"></i>
    </button>

    <div {{ stimulus_target('modal-window', 'output') }}></div>

    <button
      {{ stimulus_action('modal-window', 'next') }}
      {{ stimulus_target('modal-window', 'nextButton') }}
      class="btn">
      <i class="bi bi-caret-right-fill"></i>
    </button>

  </div>
{% endblock %}

{% block modalFooter %}
  <div
    {{ stimulus_target('modal-window', 'outputFooter') }}
  ></div>
  {#  data-bs-dismiss="modal" #}
{% endblock %}