{% extends 'modal-window-base.html.twig' %}

{% block modalID %}{{ modalID }}{% endblock %}

{% block modalBody %}
  <div class="d-flex justify-content-center align-items-center">

    <button
      {{ stimulus_action('modal-window', 'previous') }}
      {{ stimulus_target('modal-window', 'previousButton') }}
      class="btn">
      <i class="bi bi-caret-left-fill"></i>
    </button>

    <div>
      <img
        {{ stimulus_target('modal-window', 'output') }}
        class="img-fluid p-0 m-1">
    </div>

    <button
      {{ stimulus_action('modal-window', 'next') }}
      {{ stimulus_target('modal-window', 'nextButton') }}
      class="btn">
      <i class="bi bi-caret-right-fill"></i>
    </button>

  </div>
{% endblock %}

{% block modalFooter %}
{% endblock %}