<div {{ stimulus_controller('post') }}>

    {{ form_start(form, {
        'attr': {
            'data-post-target': 'form'
        },
        'method': 'POST'
    }) }}
    {{ form_row(form.posts, {
        'attr': {
            'data-post-target': 'files'
        }
    }) }}

    {{ form_row(form.submit, {
        'attr' : {
            'data-action': "click->post#submit",
            'data-post-username-param': app.user.userIdentifier,
        }}) }}

    {{ form_row(form._token, {
        'attr': {
            'data-post-target': 'token'
        }
    }) }}

    {{ form_end(form) }}

</div>