{% set listCut = 15 %}

<div{{ attributes }}>
    <div>
        <h2 class="text-center title-font fs-1 text-red d-md-block d-none">
            {{ year }}
        </h2>
        <div class="line-divider my-3"></div>

        <article>

            <div class="row row-cols-sm-2">

                <ul class="list-unstyled m-0 p-0">

                    {% for prompt in this.prompts %}

                        {% if loop.index <= listCut %}

                            <li
                                    class="row btn btn-group w-100 rounded-pill hand text-white-hover {% if loop.index0 % 3 == 0 %}text-red bg-red-hover{% elseif loop.index % 3 == 0 %}text-blue bg-blue-hover{% else %}text-yellow bg-yellow-hover{% endif %} para-font prompt-list-item py-1"
                            >
                                <div class="col-2 text-nowrap p-0 m-0 align-middle">#
                                    {% if prompt.dayNumber|length < 2 %}
                                        0{{ prompt.dayNumber }}
                                    {% else %}
                                        {{ prompt.dayNumber }}
                                    {% endif %}
                                </div>

                                <div class="col-5 p-0 m-0 align-middle text-nowrap">
                                    {{ prompt.nameFr|title }}
                                </div>

                                <div class="col-5 p-0 m-0 align-middle text-nowrap">
                                    {{ prompt.nameEn|title }}
                                </div>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>

                <ul class="list-unstyled m-0 p-0">

                    {% for prompt in prompts %}

                        {% if loop.index > listCut %}

                            <li
                                    class="row btn btn-group w-100 rounded-pill hand text-white-hover {% if loop.index0 % 3 == 0 %}text-yellow bg-yellow-hover{% elseif loop.index % 3 == 0 %}text-red bg-red-hover{% else %}text-blue bg-blue-hover{% endif %} para-font prompt-list-item py-1"
                            >
                                <div class="col-2 text-nowrap p-0 m-0 align-middle">#
                                    {% if prompt.dayNumber|length < 2 %}
                                        0{{ prompt.dayNumber }}
                                    {% else %}
                                        {{ prompt.dayNumber }}
                                    {% endif %}
                                </div>

                                <div class="col-5 p-0 m-0 align-middle text-nowrap">
                                    {{ prompt.nameFr }}
                                </div>

                                <div class="col-5 p-0 m-0 align-middle text-nowrap">
                                    {{ prompt.nameEn }}
                                </div>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>

            </div>

        </article>
    </div>
</div>
