<div {{ attributes }}>

    <div class="d-flex align-items-center mb-4 position-relative">
        <button
                class="btn btn-danger btn-close align-middle p-3 rounded-pill ms-2 position-absolute end-0 d-none"
                {{ stimulus_action('postsearch', 'clear', 'click') }}
                id="close-search"
        ></button>
        <input
                type="search"
                data-model="query"
                data-value=""
                placeholder="Cherche n'importe quoi..."
                class="w-100 rounded-pill text-center border-0 bg-yellow py-3"
                id="live-post-search"
                {{ stimulus_action('postsearch', 'type', 'input') }}
        >
    </div>

    {% if computed.posts|length > 0 %}
        <div
                data-loading="addClass(opacity-50)"
                class="row row-cols-xxl-3 row-cols-lg-2 row-cols-md-1 "
        >
            {{ include('shared/post/_gallery.html.twig', {posts: computed.posts, rich: true}) }}
        </div>
    {% else %}
        <div class="pt-3">Ah! Rien ne correspond à "{{ query }}" !!</div>
    {% endif %}
</div>