<div{{ attributes }} class="d-inline-block m-0 p-0">
    <div class="position-relative p-2">
        <div class="position-absolute end-0 top-0 pt-4 pe-4 d-flex justify-content-between align-items-center">

            <div class="btn-group dropdown-center">
                <button type="button"
                        class="btn text-light btn-lg dropdown-toggle rounded-pill border-0 text-center"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                </button>

                <div class="dropdown-menu thumbnail-options bg-transparent border-0 text-center">
                    {% if allowCopy %}
                        <button
                                class="btn btn-sm btn-dark rounded-pill my-1"
                                {{ stimulus_action('post', 'copyToClipboard', 'click') }}
                                data-post-url-param="{{ app.request.httpHost }}{{ path('app_post_show', {'id': post.id}) }}"
                        >
                            <i class="bi bi-copy"></i>
                        </button>
                    {% endif %}
                    {% if allowReport %}
                        <div
                                {{ stimulus_action('modal', 'openReportForm', 'click') }}
                                data-modal-postid-param="{{ post.id }}"
                                data-modal-prompt-param="{{ post.promptNameFr|title }}"
                                data-modal-owner-param="{{ post.owner|title }}"
                        >
                            {{ include('shared/buttons/_button.html.twig', {
                                color: 'danger',
                                class: 'btn-sm rounded-pill my-1',
                                icon: 'flag-fill',
                                modal: true,
                                modalId: 'report_post'
                            }) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        {% if showOwner or showPrompt %}
            <div class="title-font position-absolute start-0 top-0 pt-4 ps-4 d-flex justify-content-between align-items-center">
                <div>
                    {% if showOwner %}
                        <a class="btn btn-sm btn-primary rounded-pill"
                           href="{{ path('app_user_page', {'username': post.owner}) }}">
                            {{ post.owner|title }}
                        </a>
                    {% endif %}

                    {% if showOwner and showPrompt %}
                        <i class="bi bi-arrow-right-short text-light"></i>
                    {% endif %}

                    {% if showPrompt %}
                        <button class="btn btn-sm btn-light rounded-pill"
                                {{ stimulus_action('postsearch', 'filter', 'click') }}
                                data-postsearch-promptname-param="{{ post.promptNameFr }}"
                        >
                            {{ post.promptNameFr|title }}
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if app.user.username is defined and app.user.username is same as post.owner %}
            <div class="position-absolute end-0 bottom-0 pb-4 pe-4 d-flex justify-content-between align-items-center">

                {{ include('shared/buttons/_button.html.twig', {
                    route: path('app_user_page_edit', {'username': post.owner}),
                    class: 'btn-sm rounded-pill mx-2',
                    color: 'warning',
                    icon: 'pencil-fill'
                }) }}

                {{ include('shared/buttons/_deleteButton.html.twig',{
                    token: csrf_token('delete' ~ post.id),
                    class: 'btn-sm rounded-pill',
                    id: post.id,
                    username: post.owner,
                    controller: 'post',
                    action: 'deleteOnePost'
                }) }}
            </div>
        {% endif %}
        <img
                class="post-img img-fluid m-0 p-0 rounded-4"
                src="{{ asset('images/posts/' ~ post.fileName ) }}"
                alt="Post de {{ post.owner }}">
    </div>
</div>
