<div>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    <div class="row">

        <div class="col-sm">

            {{ form_row(registrationForm.username, {
                'attr': {
                    'placeholder': 'Nom d\'utilisateur',
                    'class': 'rounded-pill px-5'
                }
            }) }}

        </div>
        <div class="col-sm">

            {{ form_row(registrationForm.plainPassword, {
                'attr': {
                    'placeholder': 'Mot de passe',
                    'class': 'rounded-pill px-5'
                }
            }) }}

        </div>
    </div>

    {{ include('shared/buttons/_button.html.twig', {
        color: 'success',
        type: 'submit',
        label: 'S\'inscrire',
        icon: 'check-lg',
        class: 'w-100 rounded-pill'
    }) }}

    {{ form_end(registrationForm) }}

    {{ include('shared/buttons/_button.html.twig', {
        route: path('app_login', {index: true}),
        options: {index: 'index'},
        color: 'outline-primary',
        label: 'Déjà membre ?',
        icon: 'box-arrow-right',
        class: 'w-100 mt-1 rounded-pill'
    }) }}
</div>